data/
logdir/
outputs/
weights/
grapHiC/
*.pyc
main.out
visualization.png
datasets.json
testing.py
*.png	
*.out
archive/
oscar_outputs/
oscar_scripts/
datasets.json
src/difficult_to_map_region_analysis.py
src/predict_imagebased.py 
src/predict_graphbased.py 
src/train_graphbased.py
src/train_imagebased.py
evaluation/
figures/
archive/
related_work/
other_tools/
training_scripts/
env/