data/
logdir/
outputs/
weights/
grapHiC/
*.pyc
main.out
visualization.png
datasets.json
testing.py
*.png	
*.out
*.txt
*.json
archive/
oscar_outputs/
oscar_scripts/
datasets.json
src/difficult_to_map_region_analysis.py
src/predict_imagebased.py 
src/predict_graphbased.py 
src/train_graphbased.py
src/train_imagebased.py
figures/
archive/
related_work/
other_tools/
training_scripts/
env/
cross_celltype_data_genomedisco.png
cross_celltype_data_loops.png
cross_celltype_data_ssim.png
sparsity_data_genomedisco.png
sparsity_data_loops.png
sparsity_data_ssim.png